body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.reward-app {
  margin: 20px auto 0;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 10px 50px;
}

header > span {
  color: #18A6EB;
  font-weight: bold;
}

h1 {
  color: #18A6EB;
}

table {
  width: 1000px;
}

tr {
  height: 2em;
}

table, th, td {
  margin: auto;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}
